*{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
}
.main #box1{
    height: 50vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}
.main #box1-box1{
    display: flex;
    padding: 30px 40px 0px 40px;
}
.main #box1-box1 p{
    margin: 0px 40px;
    width: 200px;
}
.main #box2{
    height: 50vh;
    width: 40%;
    border: 1px solid;
}